.root{ 
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4rem;
	
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.formField{
	margin:10px;
}